.kolo{
   background-color: #F64646;
}


#id1b{
   background-color: #16f646;
}

.pp{
 background-color: red;
 border-radius: 
 35px 35px 35px 35px;
 float: left; 
 height: 70px;
    margin-right:
	40px; margin-top:
	20px; text-align: 
	center; width: 70px;
height: 70px;
 width: 70px;
-moz-border-radius: 35px;
border-radius: 35px;
}

.cc{
background-color: green;
 border-radius: 
 35px 35px 35px 35px;
 float: left; height:70px;
    margin-right:
	40px; margin-top:
	20px; text-align:
	center; width: 70px;
height: 70px;
 width: 70px;
-moz-border-radius: 35px;
border-radius: 35px;